- @page_title = t('workarea.admin.create_content_blog_entries.featured_products.page_title', name: @blog_entry.name)

.view
  .view__header
    .view__heading
      %h1.heading.heading--no-margin= t('workarea.admin.create_content_blog_entries.featured_products.title', name: @blog_entry.name)
      %p= link_to t('workarea.admin.create_content_blog_entries.workflow.skip_this'), content_blog_create_entry_path(@blog_entry)

  .view__container
    .section
      %p.align-center= t('workarea.admin.create_content_blog_entries.featured_products.instruction')

      .browsing-controls.browsing-controls--with-divider.browsing-controls--center{ class: ('browsing-controls--filters-displayed' unless @search.toggle_facets?) }
        = form_tag featured_products_create_content_blog_entry_path(@blog_entry), method: 'get', id: 'product_search_form' do
          = facet_hidden_inputs(@search.facets)
          .browsing-controls__sort
            .property.property--inline
              = label_tag 'sort', t('workarea.admin.search.sort_by'), class: 'property__name'
              = select_tag :sort, options_for_select(@search.sorts, selected: @search.sort), data: { form_submitting_control: '' }

          .browsing-controls__search
            .search-form
              = text_field_tag :q, params[:q], class: 'search-form__input', title: t('workarea.admin.search.keywords'), placeholder: t('workarea.admin.search.keywords')
              = submit_tag 'search_products', class: 'search-form__button'

          = render 'workarea/admin/shared/creation_date', search: @search, form_path: featured_products_create_content_blog_entry_path(@blog_entry)

          - if @search.facets.present?
            - @search.facets.each do |facet|
              = render "workarea/admin/facets/#{facet.type}", facet: facet

          -if @search.toggle_facets?
            .browsing-controls__toggle-filters
              %button.text-button{ type: 'button', data: { toggle_filters: '' } }= t('workarea.admin.search.show_filters')

        = render 'workarea/admin/facets/applied', search: @search, reset_path: featured_products_create_content_blog_entry_path(@blog_entry)

    - if @search.results.blank?
      %h2
        = t('workarea.admin.create_content_blog_entries.featured_products.no_matching_products')
        = link_to t('workarea.admin.create_content_blog_entries.featured_products.start_over'), featured_products_create_content_blog_entry_path(@blog_entry)

    - else
      .grid.grid--auto.grid--flush.grid--center
        - @search.results.each do |result|
          .grid__cell
            - if @blog_entry.product_ids.include?(result.id)
              = render 'workarea/admin/featured_products/selected', featurable: @blog_entry, product: result
            - else
              = render 'workarea/admin/featured_products/unselected', featurable: @blog_entry, product: result

      - if @search.results.total_pages > 1
        = render 'workarea/admin/shared/pagination', collection: @search.results

  .workflow-bar
    .grid.grid--middle
      .grid__cell.grid__cell--20
        = link_to t('workarea.admin.form.cancel'), content_blog_entry_path(@blog_entry), class: 'workflow-bar__button workflow-bar__button--delete', data: { method: 'delete', confirm: t('workarea.admin.create_content_blog_entries.workflow.cancel_message') }

      .grid__cell.grid__cell--60
        %ol.workflow-bar__steps
          %li.workflow-bar__step 1) #{link_to t('workarea.admin.create_content_blog_entries.workflow.steps.setup'), create_content_blog_entry_path(@blog_entry)}
          %li.workflow-bar__step 2) #{link_to t('workarea.admin.create_content_blog_entries.workflow.steps.thumbnail_image'), thumbnail_image_create_content_blog_entry_path(@blog_entry)}
          %li.workflow-bar__step 3) #{link_to t('workarea.admin.create_content_blog_entries.workflow.steps.content'), content_create_content_blog_entry_path(@blog_entry)}
          %li.workflow-bar__step
            %strong 4) #{t('workarea.admin.create_content_blog_entries.workflow.steps.featured_products')}
          %li.workflow-bar__step 5) #{link_to t('workarea.admin.create_content_blog_entries.workflow.steps.publish'), publish_create_content_blog_entry_path(@blog_entry)}

      .grid__cell.grid__cell--20
        .grid.grid--auto.grid--right.grid--middle
          .grid__cell= link_to "#{t('workarea.admin.create_content_blog_entries.featured_products.button')} →", publish_create_content_blog_entry_path(@blog_entry), class: 'workflow-bar__button'
